
// colors
$light-blue: #C7F7FF;
$med-blue: #89C0C9;
$dark-blue: #3A5E63;
$light-brown: #C9A689;
$dark-brown: #7C593C;
$light-grey: #d4d4d4;
$dark-grey: #222;
$white: #fff;

//fonts
$site-stack: 'Josefin Sans', 'Trebuchet MS', Helvetica, sans-serif;
$heading-stack: Cardo, 'Palatino Linotype', 'Book Antiqua', Palatino, serif;

//Screen sizes
$mobile:701px;
$tablet:900px;
$desktop:901px;
$large:1400px;
$xlarge: 1401px;
